
html {
    box-sizing: border-box; 
}

*, *:after, *:before {
    box-sizing: border-box;
}

html, *body {
    margin: 0;
    padding: 0; 
}

.TopGap {
    position: relative;
    top: 4.25em;
}

.Modul {
    position: relative;
    min-height: 5.5em;
    padding: 4.8125em 0;
}

