.ImageCarousels {
    background-color: $light-bg;
    padding-bottom: $section-padding; // Pridaný padding, keďže je to posledná sekcia

    .carousel-wrapper {
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: $box-shadow;
    }

    .carousel-item img {
        max-height: 600px;
        object-fit: cover;
    }
}