.LocationText{
    background-color: $Dark-Bg-Text;
    .Name{
        text-align: center;
        text-decoration: underline;
    }
    p{
        text-align: center;
        margin: 0 3em;
    }
}

