.Scheduler {
    background-color: $light-bg;

    .schedule-card {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $text-light;
        padding: 1.5rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow-light;
        border: 1px solid $border-color;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: $box-shadow;
        }

        .card-icon {
            flex-shrink: 0;
            width: 70px;
            height: 70px;
            margin-right: 1.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .card-content {
            .time {
                font-size: 1.2rem;
                font-weight: 700;
                color: $primary-dark;
                margin: 0;
            }
            p {
                margin: 0;
                font-size: 0.95rem;
            }
        }
    }
}