.GoogleMapLoc {
    .contact-section-title {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
    .map-wrapper {
        border-radius: $border-radius;
        overflow: hidden;
        box-shadow: $box-shadow;
        height: 450px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}